<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.operation.ebay.LingxingCurrencyMonthMapper">

    <select id="selectRatesByMonth" resultType="java.util.HashMap">
        SELECT currency.currency_code,
               currency.my_rate,
               currency.rate_month
        FROM `date-project`.dim_lingxing_currency_month currency
        INNER JOIN (
            SELECT currency_code, MAX(rate_month) rate_month
            FROM `date-project`.dim_lingxing_currency_month
            WHERE rate_month &lt;= #{rateMonth}
            GROUP BY currency_code
        ) latest
          ON latest.currency_code = currency.currency_code
         AND latest.rate_month = currency.rate_month
    </select>
</mapper>
