APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=9000

ERP_DB_HOST=127.0.0.1
ERP_DB_PORT=3306
ERP_DB_USER=erp_readonly_user
ERP_DB_PASSWORD=change_me
ERP_DB_NAME=jmh_data_platform

REPORT_DB_HOST=127.0.0.1
REPORT_DB_PORT=3306
REPORT_DB_USER=report_rw_user
REPORT_DB_PASSWORD=change_me
REPORT_DB_NAME=jmh_report

INTERNAL_API_SECRET=change_me

LINGXING_ENDPOINT=http://8.137.177.25/lingxing-proxy
LINGXING_APP_ID=change_me
LINGXING_APP_SECRET=change_me
LINGXING_CONNECT_TIMEOUT=60
LINGXING_READ_TIMEOUT=120
LINGXING_TOKEN_REFRESH_SKEW_SECONDS=300
LINGXING_INVENTORY_WIDS=

SCHEDULER_ENABLED=false

SYNC_DIM_SHOP_CRON=0 2 * * *
SYNC_DIM_WAREHOUSE_CRON=5 2 * * *
LINGXING_LOCAL_INVENTORY_DAILY_CRON=30 2 * * *
MONTHLY_OPENING_INVENTORY_CRON=0 4 2 * *
