<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.operation.EbayPriceTrackingSnapshotMapper">

    <resultMap type="com.ruoyi.system.domain.operation.EbayPriceTrackingSnapshot" id="Result">
        <id property="id" column="id" />
        <result property="site" column="site" />
        <result property="sku" column="sku" />
        <result property="productName" column="product_name" />
        <result property="skuLevel" column="sku_level" />
        <result property="ourLowestPrice" column="our_lowest_price" />
        <result property="trackingPrice" column="tracking_price" />
        <result property="trackingProfitMargin" column="tracking_profit_margin" />
        <result property="floorPrice" column="floor_price" />
        <result property="returnRate" column="return_rate" />
        <result property="sales3d" column="sales_3d" />
        <result property="sales7d" column="sales_7d" />
        <result property="sales30d" column="sales_30d" />
        <result property="sales90d" column="sales_90d" />
        <result property="maxMonthlySales" column="max_monthly_sales" />
        <result property="overseasStock" column="overseas_stock" />
        <result property="overseasStockAgeDays" column="overseas_stock_age_days" />
        <result property="stockSalesRatio" column="stock_sales_ratio" />
        <result property="estimatedReplenishQty" column="estimated_replenish_qty" />
        <result property="brandCode" column="brand_code" />
        <result property="operatorName" column="operator_name" />
        <result property="oeNumber" column="oe_number" />
        <result property="presaleUrl" column="presale_url" />
        <result property="soldUrl" column="sold_url" />
        <result property="remark" column="remark" />
        <result property="calcTime" column="calc_time" />
    </resultMap>

    <!-- 查询列：跟价可编辑字段以 ebay_product_dedup 为准，其他计算字段从 snapshot 取 -->
    <sql id="searchColumns">
        s.id, s.site, s.sku, s.product_name, s.sku_level,
        CASE WHEN d.id IS NOT NULL THEN d.lowest_price ELSE s.our_lowest_price END AS our_lowest_price,
        CASE WHEN d.id IS NOT NULL THEN d.tracking_price ELSE s.tracking_price END AS tracking_price,
        CASE WHEN d.id IS NOT NULL THEN d.tracking_profit_margin ELSE s.tracking_profit_margin END AS tracking_profit_margin,
        CASE WHEN d.id IS NOT NULL THEN d.floor_price ELSE s.floor_price END AS floor_price,
        s.return_rate,
        s.sales_3d, s.sales_7d, s.sales_30d, s.sales_90d, s.max_monthly_sales,
        s.overseas_stock, s.overseas_stock_age_days, s.stock_sales_ratio,
        s.estimated_replenish_qty, s.brand_code, s.operator_name,
        CASE WHEN d.id IS NOT NULL THEN d.oe_number ELSE s.oe_number END AS oe_number,
        s.presale_url, s.sold_url,
        CASE WHEN d.id IS NOT NULL THEN d.remark ELSE s.remark END AS remark,
        s.calc_time
    </sql>

    <!-- 写入列（refresh 用，直接取 Java 对象字段） -->
    <sql id="insertColumns">
        id, site, sku, product_name, sku_level, our_lowest_price, tracking_price,
        tracking_profit_margin, floor_price, return_rate,
        sales_3d, sales_7d, sales_30d, sales_90d, max_monthly_sales,
        overseas_stock, overseas_stock_age_days, stock_sales_ratio,
        estimated_replenish_qty, brand_code, operator_name,
        oe_number, presale_url, sold_url, remark, calc_time
    </sql>

    <select id="search" parameterType="map" resultMap="Result">
        select <include refid="searchColumns"/>
        from ebay_price_tracking_snapshot s
        left join ebay_product_dedup d on s.site = d.site and s.sku = d.sku
        <where>
            <!-- 文本 -->
            <if test="site != null and site != ''">
                <choose>
                    <when test="site.contains(',')">and s.site in <foreach collection="site.split(',')" item="it" open="(" separator="," close=")">#{it}</foreach></when>
                    <otherwise>and s.site like concat('%', #{site}, '%')</otherwise>
                </choose>
            </if>
            <if test="sku != null and sku != ''">
                and s.sku like concat('%', #{sku}, '%')
            </if>
            <if test="productName != null and productName != ''">
                and s.product_name like concat('%', #{productName}, '%')
            </if>
            <if test="brandCode != null and brandCode != ''">
                and s.brand_code like concat('%', #{brandCode}, '%')
            </if>
            <if test="operatorName != null and operatorName != ''">
                and s.operator_name like concat('%', #{operatorName}, '%')
            </if>
            <!-- 数值（筛选 snapshot 的 computed 列） -->
            <include refid="num"><property name="col" value="s.our_lowest_price"/><property name="op" value="our_lowest_price_op"/><property name="val" value="our_lowest_price_val"/></include>
            <include refid="num"><property name="col" value="s.tracking_price"/><property name="op" value="tracking_price_op"/><property name="val" value="tracking_price_val"/></include>
            <include refid="num"><property name="col" value="s.tracking_profit_margin"/><property name="op" value="tracking_profit_margin_op"/><property name="val" value="tracking_profit_margin_val"/></include>
            <include refid="num"><property name="col" value="s.floor_price"/><property name="op" value="floor_price_op"/><property name="val" value="floor_price_val"/></include>
            <include refid="num"><property name="col" value="s.return_rate"/><property name="op" value="return_rate_op"/><property name="val" value="return_rate_val"/></include>
            <include refid="num"><property name="col" value="s.sales_3d"/><property name="op" value="sales_3d_op"/><property name="val" value="sales_3d_val"/></include>
            <include refid="num"><property name="col" value="s.sales_7d"/><property name="op" value="sales_7d_op"/><property name="val" value="sales_7d_val"/></include>
            <include refid="num"><property name="col" value="s.sales_30d"/><property name="op" value="sales_30d_op"/><property name="val" value="sales_30d_val"/></include>
            <include refid="num"><property name="col" value="s.sales_90d"/><property name="op" value="sales_90d_op"/><property name="val" value="sales_90d_val"/></include>
            <include refid="num"><property name="col" value="s.max_monthly_sales"/><property name="op" value="max_monthly_sales_op"/><property name="val" value="max_monthly_sales_val"/></include>
            <include refid="num"><property name="col" value="s.overseas_stock"/><property name="op" value="overseas_stock_op"/><property name="val" value="overseas_stock_val"/></include>
            <include refid="num"><property name="col" value="s.overseas_stock_age_days"/><property name="op" value="overseas_stock_age_days_op"/><property name="val" value="overseas_stock_age_days_val"/></include>
            <include refid="num"><property name="col" value="s.stock_sales_ratio"/><property name="op" value="stock_sales_ratio_op"/><property name="val" value="stock_sales_ratio_val"/></include>
            <include refid="num"><property name="col" value="s.estimated_replenish_qty"/><property name="op" value="estimated_replenish_qty_op"/><property name="val" value="estimated_replenish_qty_val"/></include>
        </where>
        <choose>
            <when test="sortField == 'site'">order by s.site</when>
            <when test="sortField == 'sku'">order by s.sku</when>
            <when test="sortField == 'sales30d'">order by s.sales_30d</when>
            <when test="sortField == 'sales90d'">order by s.sales_90d</when>
            <when test="sortField == 'overseasStock'">order by s.overseas_stock</when>
            <when test="sortField == 'stockSalesRatio'">order by s.stock_sales_ratio</when>
            <when test="sortField == 'estimatedReplenishQty'">order by s.estimated_replenish_qty</when>
            <when test="sortField == 'ourLowestPrice'">order by s.our_lowest_price</when>
            <when test="sortField == 'trackingPrice'">order by s.tracking_price</when>
            <otherwise>order by s.site asc, s.sku asc</otherwise>
        </choose>
        <if test="sortField != null and sortField != ''">
            <choose><when test="sortOrder == 'ascending'">asc</when><otherwise>desc</otherwise></choose>
        </if>
    </select>

    <sql id="num">
        <if test="${op} != null and ${val} != null">
            and ${col} ${op} #{${val}}
        </if>
    </sql>

    <select id="selectDistinctValues" parameterType="map" resultType="string">
        select distinct t.`${column}` from ebay_price_tracking_snapshot t
        where t.`${column}` is not null and t.`${column}` != ''
        <if test="keyword != null and keyword != ''">
            and t.`${column}` like concat('%', #{keyword}, '%')
        </if>
        order by t.`${column}` limit 50
    </select>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO ebay_price_tracking_snapshot (
            site, sku, product_name, sku_level, our_lowest_price, tracking_price,
            tracking_profit_margin, floor_price, return_rate,
            sales_3d, sales_7d, sales_30d, sales_90d, max_monthly_sales,
            overseas_stock, overseas_stock_age_days, stock_sales_ratio,
            estimated_replenish_qty, brand_code, operator_name,
            oe_number, presale_url, sold_url, remark, calc_time
        ) VALUES
        <foreach collection="list" item="i" separator=",">
        (
            #{i.site}, #{i.sku}, #{i.productName}, #{i.skuLevel},
            #{i.ourLowestPrice}, #{i.trackingPrice},
            #{i.trackingProfitMargin}, #{i.floorPrice}, #{i.returnRate},
            #{i.sales3d}, #{i.sales7d}, #{i.sales30d}, #{i.sales90d}, #{i.maxMonthlySales},
            #{i.overseasStock}, #{i.overseasStockAgeDays}, #{i.stockSalesRatio},
            #{i.estimatedReplenishQty}, #{i.brandCode}, #{i.operatorName},
            #{i.oeNumber}, #{i.presaleUrl}, #{i.soldUrl}, #{i.remark}, NOW()
        )
        </foreach>
    </insert>

    <delete id="deleteAll">
        DELETE FROM ebay_price_tracking_snapshot
    </delete>

</mapper>
