<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.operation.EbayPriceTrackingSnapshotMapper">

    <resultMap type="com.ruoyi.system.domain.operation.EbayPriceTrackingSnapshot" id="Result">
        <id property="id" column="id" />
        <result property="site" column="site" />
        <result property="sku" column="sku" />
        <result property="productName" column="product_name" />
        <result property="skuLevel" column="sku_level" />
        <result property="ourLowestPrice" column="our_lowest_price" />
        <result property="trackingPrice" column="tracking_price" />
        <result property="trackingProfitMargin" column="tracking_profit_margin" />
        <result property="floorPrice" column="floor_price" />
        <result property="returnRate" column="return_rate" />
        <result property="sales3d" column="sales_3d" />
        <result property="sales7d" column="sales_7d" />
        <result property="sales30d" column="sales_30d" />
        <result property="sales90d" column="sales_90d" />
        <result property="maxMonthlySales" column="max_monthly_sales" />
        <result property="overseasStock" column="overseas_stock" />
        <result property="overseasStockAgeDays" column="overseas_stock_age_days" />
        <result property="stockSalesRatio" column="stock_sales_ratio" />
        <result property="estimatedReplenishQty" column="estimated_replenish_qty" />
        <result property="brandCode" column="brand_code" />
        <result property="operatorName" column="operator_name" />
        <result property="oeNumber" column="oe_number" />
        <result property="presaleUrl" column="presale_url" />
        <result property="soldUrl" column="sold_url" />
        <result property="remark" column="remark" />
        <result property="calcTime" column="calc_time" />
    </resultMap>

    <!-- 查询列：跟价可编辑字段以 ebay_product_dedup 为准，其他计算字段从 snapshot 取 -->
    <sql id="searchColumns">
        s.id, s.site, s.sku, s.product_name, s.sku_level,
        CASE WHEN d.id IS NOT NULL THEN d.lowest_price ELSE s.our_lowest_price END AS our_lowest_price,
        CASE WHEN d.id IS NOT NULL THEN d.tracking_price ELSE s.tracking_price END AS tracking_price,
        CASE WHEN d.id IS NOT NULL THEN d.tracking_profit_margin ELSE s.tracking_profit_margin END AS tracking_profit_margin,
        CASE WHEN d.id IS NOT NULL THEN d.floor_price ELSE s.floor_price END AS floor_price,
        s.return_rate,
        s.sales_3d, s.sales_7d, s.sales_30d, s.sales_90d, s.max_monthly_sales,
        s.overseas_stock, s.overseas_stock_age_days, s.stock_sales_ratio,
        s.estimated_replenish_qty, s.brand_code, s.operator_name,
        CASE WHEN d.id IS NOT NULL THEN d.oe_number ELSE s.oe_number END AS oe_number,
        s.presale_url, s.sold_url,
        CASE WHEN d.id IS NOT NULL THEN d.remark ELSE s.remark END AS remark,
        s.calc_time
    </sql>

    <!-- 写入列（refresh 用，直接取 Java 对象字段） -->
    <sql id="insertColumns">
        id, site, sku, product_name, sku_level, our_lowest_price, tracking_price,
        tracking_profit_margin, floor_price, return_rate,
        sales_3d, sales_7d, sales_30d, sales_90d, max_monthly_sales,
        overseas_stock, overseas_stock_age_days, stock_sales_ratio,
        estimated_replenish_qty, brand_code, operator_name,
        oe_number, presale_url, sold_url, remark, calc_time
    </sql>

    <select id="search" parameterType="map" resultMap="Result">
        select <include refid="searchColumns"/>
        from ebay_price_tracking_snapshot s
        left join ebay_product_dedup d on s.site = d.site and s.sku = d.sku
        <where>
            and s.current_flag = 1
            <!-- 文本 -->
            <if test="site != null and site != ''">
                <choose>
                    <when test='site.contains(",")'>and s.site in <foreach collection='site.split(",")' item="it" open="(" separator="," close=")">#{it}</foreach></when>
                    <otherwise>and s.site like concat('%', #{site}, '%')</otherwise>
                </choose>
            </if>
            <if test="sku != null and sku != ''">
                and s.sku like concat('%', #{sku}, '%')
            </if>
            <if test="productName != null and productName != ''">
                and s.product_name like concat('%', #{productName}, '%')
            </if>
            <if test="brandCode != null and brandCode != ''">
                and s.brand_code like concat('%', #{brandCode}, '%')
            </if>
            <if test="operatorName != null and operatorName != ''">
                and s.operator_name like concat('%', #{operatorName}, '%')
            </if>
            <if test="skuLevel != null and skuLevel != ''">
                and s.sku_level = #{skuLevel}
            </if>
            <!-- 数值（筛选 snapshot 的 computed 列） -->
            <if test="our_lowest_price_op != null">
                <choose>
                    <when test="our_lowest_price_op == 'between' and our_lowest_price_val != null and our_lowest_price_val2 != null">
                        and s.our_lowest_price between #{our_lowest_price_val} and #{our_lowest_price_val2}
                    </when>
                    <when test="our_lowest_price_op == 'isNull'"> and s.our_lowest_price is null </when>
                    <when test="our_lowest_price_op == 'isNotNull'"> and s.our_lowest_price is not null </when>
                    <when test="our_lowest_price_val != null"> and s.our_lowest_price ${our_lowest_price_op} #{our_lowest_price_val} </when>
                </choose>
            </if>
            <if test="tracking_price_op != null">
                <choose>
                    <when test="tracking_price_op == 'between' and tracking_price_val != null and tracking_price_val2 != null">
                        and s.tracking_price between #{tracking_price_val} and #{tracking_price_val2}
                    </when>
                    <when test="tracking_price_op == 'isNull'"> and s.tracking_price is null </when>
                    <when test="tracking_price_op == 'isNotNull'"> and s.tracking_price is not null </when>
                    <when test="tracking_price_val != null"> and s.tracking_price ${tracking_price_op} #{tracking_price_val} </when>
                </choose>
            </if>
            <if test="tracking_profit_margin_op != null">
                <choose>
                    <when test="tracking_profit_margin_op == 'between' and tracking_profit_margin_val != null and tracking_profit_margin_val2 != null">
                        and s.tracking_profit_margin between #{tracking_profit_margin_val} and #{tracking_profit_margin_val2}
                    </when>
                    <when test="tracking_profit_margin_op == 'isNull'"> and s.tracking_profit_margin is null </when>
                    <when test="tracking_profit_margin_op == 'isNotNull'"> and s.tracking_profit_margin is not null </when>
                    <when test="tracking_profit_margin_val != null"> and s.tracking_profit_margin ${tracking_profit_margin_op} #{tracking_profit_margin_val} </when>
                </choose>
            </if>
            <if test="floor_price_op != null">
                <choose>
                    <when test="floor_price_op == 'between' and floor_price_val != null and floor_price_val2 != null">
                        and s.floor_price between #{floor_price_val} and #{floor_price_val2}
                    </when>
                    <when test="floor_price_op == 'isNull'"> and s.floor_price is null </when>
                    <when test="floor_price_op == 'isNotNull'"> and s.floor_price is not null </when>
                    <when test="floor_price_val != null"> and s.floor_price ${floor_price_op} #{floor_price_val} </when>
                </choose>
            </if>
            <if test="return_rate_op != null">
                <choose>
                    <when test="return_rate_op == 'between' and return_rate_val != null and return_rate_val2 != null">
                        and s.return_rate between #{return_rate_val} and #{return_rate_val2}
                    </when>
                    <when test="return_rate_op == 'isNull'"> and s.return_rate is null </when>
                    <when test="return_rate_op == 'isNotNull'"> and s.return_rate is not null </when>
                    <when test="return_rate_val != null"> and s.return_rate ${return_rate_op} #{return_rate_val} </when>
                </choose>
            </if>
            <if test="sales_3d_op != null">
                <choose>
                    <when test="sales_3d_op == 'between' and sales_3d_val != null and sales_3d_val2 != null">
                        and s.sales_3d between #{sales_3d_val} and #{sales_3d_val2}
                    </when>
                    <when test="sales_3d_op == 'isNull'"> and s.sales_3d is null </when>
                    <when test="sales_3d_op == 'isNotNull'"> and s.sales_3d is not null </when>
                    <when test="sales_3d_val != null"> and s.sales_3d ${sales_3d_op} #{sales_3d_val} </when>
                </choose>
            </if>
            <if test="sales_7d_op != null">
                <choose>
                    <when test="sales_7d_op == 'between' and sales_7d_val != null and sales_7d_val2 != null">
                        and s.sales_7d between #{sales_7d_val} and #{sales_7d_val2}
                    </when>
                    <when test="sales_7d_op == 'isNull'"> and s.sales_7d is null </when>
                    <when test="sales_7d_op == 'isNotNull'"> and s.sales_7d is not null </when>
                    <when test="sales_7d_val != null"> and s.sales_7d ${sales_7d_op} #{sales_7d_val} </when>
                </choose>
            </if>
            <if test="sales_30d_op != null">
                <choose>
                    <when test="sales_30d_op == 'between' and sales_30d_val != null and sales_30d_val2 != null">
                        and s.sales_30d between #{sales_30d_val} and #{sales_30d_val2}
                    </when>
                    <when test="sales_30d_op == 'isNull'"> and s.sales_30d is null </when>
                    <when test="sales_30d_op == 'isNotNull'"> and s.sales_30d is not null </when>
                    <when test="sales_30d_val != null"> and s.sales_30d ${sales_30d_op} #{sales_30d_val} </when>
                </choose>
            </if>
            <if test="sales_90d_op != null">
                <choose>
                    <when test="sales_90d_op == 'between' and sales_90d_val != null and sales_90d_val2 != null">
                        and s.sales_90d between #{sales_90d_val} and #{sales_90d_val2}
                    </when>
                    <when test="sales_90d_op == 'isNull'"> and s.sales_90d is null </when>
                    <when test="sales_90d_op == 'isNotNull'"> and s.sales_90d is not null </when>
                    <when test="sales_90d_val != null"> and s.sales_90d ${sales_90d_op} #{sales_90d_val} </when>
                </choose>
            </if>
            <if test="max_monthly_sales_op != null">
                <choose>
                    <when test="max_monthly_sales_op == 'between' and max_monthly_sales_val != null and max_monthly_sales_val2 != null">
                        and s.max_monthly_sales between #{max_monthly_sales_val} and #{max_monthly_sales_val2}
                    </when>
                    <when test="max_monthly_sales_op == 'isNull'"> and s.max_monthly_sales is null </when>
                    <when test="max_monthly_sales_op == 'isNotNull'"> and s.max_monthly_sales is not null </when>
                    <when test="max_monthly_sales_val != null"> and s.max_monthly_sales ${max_monthly_sales_op} #{max_monthly_sales_val} </when>
                </choose>
            </if>
            <if test="overseas_stock_op != null">
                <choose>
                    <when test="overseas_stock_op == 'between' and overseas_stock_val != null and overseas_stock_val2 != null">
                        and s.overseas_stock between #{overseas_stock_val} and #{overseas_stock_val2}
                    </when>
                    <when test="overseas_stock_op == 'isNull'"> and s.overseas_stock is null </when>
                    <when test="overseas_stock_op == 'isNotNull'"> and s.overseas_stock is not null </when>
                    <when test="overseas_stock_val != null"> and s.overseas_stock ${overseas_stock_op} #{overseas_stock_val} </when>
                </choose>
            </if>
            <if test="overseas_stock_age_days_op != null">
                <choose>
                    <when test="overseas_stock_age_days_op == 'between' and overseas_stock_age_days_val != null and overseas_stock_age_days_val2 != null">
                        and s.overseas_stock_age_days between #{overseas_stock_age_days_val} and #{overseas_stock_age_days_val2}
                    </when>
                    <when test="overseas_stock_age_days_op == 'isNull'"> and s.overseas_stock_age_days is null </when>
                    <when test="overseas_stock_age_days_op == 'isNotNull'"> and s.overseas_stock_age_days is not null </when>
                    <when test="overseas_stock_age_days_val != null"> and s.overseas_stock_age_days ${overseas_stock_age_days_op} #{overseas_stock_age_days_val} </when>
                </choose>
            </if>
            <if test="stock_sales_ratio_op != null">
                <choose>
                    <when test="stock_sales_ratio_op == 'between' and stock_sales_ratio_val != null and stock_sales_ratio_val2 != null">
                        and s.stock_sales_ratio between #{stock_sales_ratio_val} and #{stock_sales_ratio_val2}
                    </when>
                    <when test="stock_sales_ratio_op == 'isNull'"> and s.stock_sales_ratio is null </when>
                    <when test="stock_sales_ratio_op == 'isNotNull'"> and s.stock_sales_ratio is not null </when>
                    <when test="stock_sales_ratio_val != null"> and s.stock_sales_ratio ${stock_sales_ratio_op} #{stock_sales_ratio_val} </when>
                </choose>
            </if>
            <if test="estimated_replenish_qty_op != null">
                <choose>
                    <when test="estimated_replenish_qty_op == 'between' and estimated_replenish_qty_val != null and estimated_replenish_qty_val2 != null">
                        and s.estimated_replenish_qty between #{estimated_replenish_qty_val} and #{estimated_replenish_qty_val2}
                    </when>
                    <when test="estimated_replenish_qty_op == 'isNull'"> and s.estimated_replenish_qty is null </when>
                    <when test="estimated_replenish_qty_op == 'isNotNull'"> and s.estimated_replenish_qty is not null </when>
                    <when test="estimated_replenish_qty_val != null"> and s.estimated_replenish_qty ${estimated_replenish_qty_op} #{estimated_replenish_qty_val} </when>
                </choose>
            </if>
        </where>
        <choose>
            <when test="sortField == 'site'">order by s.site</when>
            <when test="sortField == 'sku'">order by s.sku</when>
            <when test="sortField == 'sales3d'">order by s.sales_3d</when>
            <when test="sortField == 'sales7d'">order by s.sales_7d</when>
            <when test="sortField == 'sales30d'">order by s.sales_30d</when>
            <when test="sortField == 'sales90d'">order by s.sales_90d</when>
            <when test="sortField == 'maxMonthlySales'">order by s.max_monthly_sales</when>
            <when test="sortField == 'overseasStock'">order by s.overseas_stock</when>
            <when test="sortField == 'overseasStockAgeDays'">order by s.overseas_stock_age_days</when>
            <when test="sortField == 'stockSalesRatio'">order by s.stock_sales_ratio</when>
            <when test="sortField == 'estimatedReplenishQty'">order by s.estimated_replenish_qty</when>
            <when test="sortField == 'ourLowestPrice'">order by s.our_lowest_price</when>
            <when test="sortField == 'trackingPrice'">order by s.tracking_price</when>
            <when test="sortField == 'trackingProfitMargin'">order by s.tracking_profit_margin</when>
            <when test="sortField == 'floorPrice'">order by s.floor_price</when>
            <when test="sortField == 'returnRate'">order by s.return_rate</when>
            <otherwise>order by s.site, s.sku</otherwise>
        </choose>
        <choose><when test="sortOrder == 'ascending'">asc</when><otherwise>desc</otherwise></choose>
    </select>

    <sql id="num">
        <if test="${op} != null">
            <choose>
                <when test="${op} == 'between' and ${val} != null and ${val2} != null">
                    and ${col} between #{${val}} and #{${val2}}
                </when>
                <when test="${op} == 'isNull'"> and ${col} is null </when>
                <when test="${op} == 'isNotNull'"> and ${col} is not null </when>
                <when test="${val} != null"> and ${col} ${${op}} #{${val}} </when>
            </choose>
        </if>
    </sql>

    <select id="selectDistinctValues" parameterType="map" resultType="string">
        select distinct t.`${column}` from ebay_price_tracking_snapshot t
        where t.current_flag = 1
          and t.`${column}` is not null and t.`${column}` != ''
        <if test="keyword != null and keyword != ''">
            and t.`${column}` like concat('%', #{keyword}, '%')
        </if>
        order by t.`${column}` limit 50
    </select>

    <insert id="batchInsert">
        INSERT INTO ebay_price_tracking_snapshot (
            site, sku, product_name, sku_level, our_lowest_price, tracking_price,
            tracking_profit_margin, floor_price, return_rate,
            sales_3d, sales_7d, sales_30d, sales_90d, max_monthly_sales,
            overseas_stock, overseas_stock_age_days, stock_sales_ratio,
            estimated_replenish_qty, brand_code, operator_name,
            oe_number, presale_url, sold_url, remark, calc_time, batch_no, current_flag
        ) VALUES
        <foreach collection="list" item="i" separator=",">
        (
            #{i.site}, #{i.sku}, #{i.productName}, #{i.skuLevel},
            #{i.ourLowestPrice}, #{i.trackingPrice},
            #{i.trackingProfitMargin}, #{i.floorPrice}, #{i.returnRate},
            #{i.sales3d}, #{i.sales7d}, #{i.sales30d}, #{i.sales90d}, #{i.maxMonthlySales},
            #{i.overseasStock}, #{i.overseasStockAgeDays}, #{i.stockSalesRatio},
            #{i.estimatedReplenishQty}, #{i.brandCode}, #{i.operatorName},
            #{i.oeNumber}, #{i.presaleUrl}, #{i.soldUrl}, #{i.remark}, NOW(), #{batchNo}, 0
        )
        </foreach>
    </insert>

    <delete id="deleteAll">
        DELETE FROM ebay_price_tracking_snapshot
    </delete>

    <update id="activateBatch">
        UPDATE ebay_price_tracking_snapshot
        SET current_flag = CASE WHEN batch_no = #{batchNo} THEN 1 ELSE 0 END
    </update>

    <delete id="deleteNonCurrent">
        DELETE FROM ebay_price_tracking_snapshot
        WHERE current_flag = 0
    </delete>

    <update id="fillReplenishQtyFromSnapshot">
        UPDATE ebay_price_tracking_snapshot t
        JOIN ebay_replenishment_snapshot r ON r.site = t.site AND r.sku = t.sku
        SET t.estimated_replenish_qty = r.max_monthly_replenish_qty
        WHERE t.current_flag = 1
          AND r.current_flag = 1
          AND r.max_monthly_replenish_qty IS NOT NULL
    </update>

</mapper>
