<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.operation.EbayReplenishmentSnapshotMapper">

    <resultMap type="com.ruoyi.system.domain.operation.EbayReplenishmentSnapshot" id="EbayReplenishmentSnapshotResult">
        <id property="id" column="id" />
        <result property="site" column="site" />
        <result property="sku" column="sku" />
        <result property="productName" column="product_name" />
        <result property="skuLevel" column="sku_level" />
        <result property="profitRate30d" column="profit_rate_30d" />
        <result property="returnRate" column="return_rate" />
        <result property="overseasOnway" column="overseas_onway" />
        <result property="overseasSellable" column="overseas_sellable" />
        <result property="overseasTotal" column="overseas_total" />
        <result property="purchasePendingDelivery" column="purchase_pending_delivery" />
        <result property="localSellable" column="local_sellable" />
        <result property="localOnway" column="local_onway" />
        <result property="purchasePlanQty" column="purchase_plan_qty" />
        <result property="lockedQty" column="locked_qty" />
        <result property="totalInventory" column="total_inventory" />
        <result property="sales7d" column="sales_7d" />
        <result property="sales30d" column="sales_30d" />
        <result property="sales90d" column="sales_90d" />
        <result property="maxMonthlySales" column="max_monthly_sales" />
        <result property="overseasSellableSalesRatio" column="overseas_sellable_sales_ratio" />
        <result property="overseasTotalSalesRatio" column="overseas_total_sales_ratio" />
        <result property="totalInventorySalesRatio" column="total_inventory_sales_ratio" />
        <result property="lastLocalOutboundTime" column="last_local_outbound_time" />
        <result property="outboundDays" column="outbound_days" />
        <result property="purchaseCycleDays" column="purchase_cycle_days" />
        <result property="suggestPurchaseQty" column="suggest_purchase_qty" />
        <result property="maxMonthlyReplenishQty" column="max_monthly_replenish_qty" />
        <result property="ownerName" column="owner_name" />
        <result property="calcTime" column="calc_time" />
    </resultMap>

    <sql id="columns">
        id, site, sku, product_name, sku_level, profit_rate_30d, return_rate,
        overseas_onway, overseas_sellable, overseas_total, purchase_pending_delivery,
        local_sellable, local_onway, purchase_plan_qty, locked_qty, total_inventory,
        sales_7d, sales_30d, sales_90d, max_monthly_sales,
        overseas_sellable_sales_ratio, overseas_total_sales_ratio, total_inventory_sales_ratio,
        last_local_outbound_time, outbound_days, purchase_cycle_days, suggest_purchase_qty,
        max_monthly_replenish_qty, owner_name, calc_time
    </sql>

    <sql id="fromTable">from ebay_replenishment_snapshot</sql>

    <!-- ==================================================================== -->
    <!-- 新版搜索：全部筛选下推 SQL，不由 Java 内存过滤                          -->
    <!-- params map 由 Service 层解析并校验后传入                                -->
    <!-- ==================================================================== -->
    <select id="search" parameterType="map" resultMap="EbayReplenishmentSnapshotResult">
        select <include refid="columns"/> <include refid="fromTable"/>
        <where>
            and current_flag = 1
            <!-- ====== 文本字段 ====== -->
            <if test="site != null and site != ''">
                <choose>
                    <when test='site.contains(",")'>
                        and site in
                        <foreach collection='site.split(",")' item="it" open="(" separator="," close=")">#{it}</foreach>
                    </when>
                    <otherwise>and site like concat('%', #{site}, '%')</otherwise>
                </choose>
            </if>
            <if test="sku != null and sku != ''">
                <choose>
                    <when test='sku.contains(",")'>and sku in <foreach collection='sku.split(",")' item="it" open="(" separator="," close=")">#{it}</foreach></when>
                    <otherwise>and sku like concat('%', #{sku}, '%')</otherwise>
                </choose>
            </if>
            <if test="productName != null and productName != ''">
                and product_name like concat('%', #{productName}, '%')
            </if>
            <if test="skuLevel != null and skuLevel != ''">
                <choose>
                    <when test='skuLevel.contains(",")'>and sku_level in <foreach collection='skuLevel.split(",")' item="it" open="(" separator="," close=")">#{it}</foreach></when>
                    <otherwise>and sku_level = #{skuLevel}</otherwise>
                </choose>
            </if>
            <if test="ownerName != null and ownerName != ''">
                and owner_name like concat('%', #{ownerName}, '%')
            </if>

            <!-- ====== 数值字段：支持 between / isNull / isNotNull / 常规比较 ====== -->
            <if test="overseasOnway_op != null">
                <choose>
                    <when test="overseasOnway_op == 'between' and overseasOnway_val != null and overseasOnway_val2 != null">
                        and overseas_onway between #{overseasOnway_val} and #{overseasOnway_val2}
                    </when>
                    <when test="overseasOnway_op == 'isNull'"> and overseas_onway is null </when>
                    <when test="overseasOnway_op == 'isNotNull'"> and overseas_onway is not null </when>
                    <when test="overseasOnway_val != null"> and overseas_onway ${overseasOnway_op} #{overseasOnway_val} </when>
                </choose>
            </if>
            <if test="overseasSellable_op != null">
                <choose>
                    <when test="overseasSellable_op == 'between' and overseasSellable_val != null and overseasSellable_val2 != null">
                        and overseas_sellable between #{overseasSellable_val} and #{overseasSellable_val2}
                    </when>
                    <when test="overseasSellable_op == 'isNull'"> and overseas_sellable is null </when>
                    <when test="overseasSellable_op == 'isNotNull'"> and overseas_sellable is not null </when>
                    <when test="overseasSellable_val != null"> and overseas_sellable ${overseasSellable_op} #{overseasSellable_val} </when>
                </choose>
            </if>
            <if test="overseasTotal_op != null">
                <choose>
                    <when test="overseasTotal_op == 'between' and overseasTotal_val != null and overseasTotal_val2 != null">
                        and overseas_total between #{overseasTotal_val} and #{overseasTotal_val2}
                    </when>
                    <when test="overseasTotal_op == 'isNull'"> and overseas_total is null </when>
                    <when test="overseasTotal_op == 'isNotNull'"> and overseas_total is not null </when>
                    <when test="overseasTotal_val != null"> and overseas_total ${overseasTotal_op} #{overseasTotal_val} </when>
                </choose>
            </if>
            <if test="totalInventory_op != null">
                <choose>
                    <when test="totalInventory_op == 'between' and totalInventory_val != null and totalInventory_val2 != null">
                        and total_inventory between #{totalInventory_val} and #{totalInventory_val2}
                    </when>
                    <when test="totalInventory_op == 'isNull'"> and total_inventory is null </when>
                    <when test="totalInventory_op == 'isNotNull'"> and total_inventory is not null </when>
                    <when test="totalInventory_val != null"> and total_inventory ${totalInventory_op} #{totalInventory_val} </when>
                </choose>
            </if>
            <if test="sales7d_op != null">
                <choose>
                    <when test="sales7d_op == 'between' and sales7d_val != null and sales7d_val2 != null">
                        and sales_7d between #{sales7d_val} and #{sales7d_val2}
                    </when>
                    <when test="sales7d_op == 'isNull'"> and sales_7d is null </when>
                    <when test="sales7d_op == 'isNotNull'"> and sales_7d is not null </when>
                    <when test="sales7d_val != null"> and sales_7d ${sales7d_op} #{sales7d_val} </when>
                </choose>
            </if>
            <if test="sales30d_op != null">
                <choose>
                    <when test="sales30d_op == 'between' and sales30d_val != null and sales30d_val2 != null">
                        and sales_30d between #{sales30d_val} and #{sales30d_val2}
                    </when>
                    <when test="sales30d_op == 'isNull'"> and sales_30d is null </when>
                    <when test="sales30d_op == 'isNotNull'"> and sales_30d is not null </when>
                    <when test="sales30d_val != null"> and sales_30d ${sales30d_op} #{sales30d_val} </when>
                </choose>
            </if>
            <if test="sales90d_op != null">
                <choose>
                    <when test="sales90d_op == 'between' and sales90d_val != null and sales90d_val2 != null">
                        and sales_90d between #{sales90d_val} and #{sales90d_val2}
                    </when>
                    <when test="sales90d_op == 'isNull'"> and sales_90d is null </when>
                    <when test="sales90d_op == 'isNotNull'"> and sales_90d is not null </when>
                    <when test="sales90d_val != null"> and sales_90d ${sales90d_op} #{sales90d_val} </when>
                </choose>
            </if>
            <if test="maxMonthlySales_op != null">
                <choose>
                    <when test="maxMonthlySales_op == 'between' and maxMonthlySales_val != null and maxMonthlySales_val2 != null">
                        and max_monthly_sales between #{maxMonthlySales_val} and #{maxMonthlySales_val2}
                    </when>
                    <when test="maxMonthlySales_op == 'isNull'"> and max_monthly_sales is null </when>
                    <when test="maxMonthlySales_op == 'isNotNull'"> and max_monthly_sales is not null </when>
                    <when test="maxMonthlySales_val != null"> and max_monthly_sales ${maxMonthlySales_op} #{maxMonthlySales_val} </when>
                </choose>
            </if>
            <if test="localSellable_op != null">
                <choose>
                    <when test="localSellable_op == 'between' and localSellable_val != null and localSellable_val2 != null">
                        and local_sellable between #{localSellable_val} and #{localSellable_val2}
                    </when>
                    <when test="localSellable_op == 'isNull'"> and local_sellable is null </when>
                    <when test="localSellable_op == 'isNotNull'"> and local_sellable is not null </when>
                    <when test="localSellable_val != null"> and local_sellable ${localSellable_op} #{localSellable_val} </when>
                </choose>
            </if>
            <if test="localOnway_op != null">
                <choose>
                    <when test="localOnway_op == 'between' and localOnway_val != null and localOnway_val2 != null">
                        and local_onway between #{localOnway_val} and #{localOnway_val2}
                    </when>
                    <when test="localOnway_op == 'isNull'"> and local_onway is null </when>
                    <when test="localOnway_op == 'isNotNull'"> and local_onway is not null </when>
                    <when test="localOnway_val != null"> and local_onway ${localOnway_op} #{localOnway_val} </when>
                </choose>
            </if>
            <if test="lockedQty_op != null">
                <choose>
                    <when test="lockedQty_op == 'between' and lockedQty_val != null and lockedQty_val2 != null">
                        and locked_qty between #{lockedQty_val} and #{lockedQty_val2}
                    </when>
                    <when test="lockedQty_op == 'isNull'"> and locked_qty is null </when>
                    <when test="lockedQty_op == 'isNotNull'"> and locked_qty is not null </when>
                    <when test="lockedQty_val != null"> and locked_qty ${lockedQty_op} #{lockedQty_val} </when>
                </choose>
            </if>
            <if test="purchasePendingDelivery_op != null">
                <choose>
                    <when test="purchasePendingDelivery_op == 'between' and purchasePendingDelivery_val != null and purchasePendingDelivery_val2 != null">
                        and purchase_pending_delivery between #{purchasePendingDelivery_val} and #{purchasePendingDelivery_val2}
                    </when>
                    <when test="purchasePendingDelivery_op == 'isNull'"> and purchase_pending_delivery is null </when>
                    <when test="purchasePendingDelivery_op == 'isNotNull'"> and purchase_pending_delivery is not null </when>
                    <when test="purchasePendingDelivery_val != null"> and purchase_pending_delivery ${purchasePendingDelivery_op} #{purchasePendingDelivery_val} </when>
                </choose>
            </if>
            <if test="purchasePlanQty_op != null">
                <choose>
                    <when test="purchasePlanQty_op == 'between' and purchasePlanQty_val != null and purchasePlanQty_val2 != null">
                        and purchase_plan_qty between #{purchasePlanQty_val} and #{purchasePlanQty_val2}
                    </when>
                    <when test="purchasePlanQty_op == 'isNull'"> and purchase_plan_qty is null </when>
                    <when test="purchasePlanQty_op == 'isNotNull'"> and purchase_plan_qty is not null </when>
                    <when test="purchasePlanQty_val != null"> and purchase_plan_qty ${purchasePlanQty_op} #{purchasePlanQty_val} </when>
                </choose>
            </if>
            <if test="outboundDays_op != null">
                <choose>
                    <when test="outboundDays_op == 'between' and outboundDays_val != null and outboundDays_val2 != null">
                        and outbound_days between #{outboundDays_val} and #{outboundDays_val2}
                    </when>
                    <when test="outboundDays_op == 'isNull'"> and outbound_days is null </when>
                    <when test="outboundDays_op == 'isNotNull'"> and outbound_days is not null </when>
                    <when test="outboundDays_val != null"> and outbound_days ${outboundDays_op} #{outboundDays_val} </when>
                </choose>
            </if>
            <if test="purchaseCycleDays_op != null">
                <choose>
                    <when test="purchaseCycleDays_op == 'between' and purchaseCycleDays_val != null and purchaseCycleDays_val2 != null">
                        and purchase_cycle_days between #{purchaseCycleDays_val} and #{purchaseCycleDays_val2}
                    </when>
                    <when test="purchaseCycleDays_op == 'isNull'"> and purchase_cycle_days is null </when>
                    <when test="purchaseCycleDays_op == 'isNotNull'"> and purchase_cycle_days is not null </when>
                    <when test="purchaseCycleDays_val != null"> and purchase_cycle_days ${purchaseCycleDays_op} #{purchaseCycleDays_val} </when>
                </choose>
            </if>
            <if test="suggestPurchaseQty_op != null">
                <choose>
                    <when test="suggestPurchaseQty_op == 'between' and suggestPurchaseQty_val != null and suggestPurchaseQty_val2 != null">
                        and suggest_purchase_qty between #{suggestPurchaseQty_val} and #{suggestPurchaseQty_val2}
                    </when>
                    <when test="suggestPurchaseQty_op == 'isNull'"> and suggest_purchase_qty is null </when>
                    <when test="suggestPurchaseQty_op == 'isNotNull'"> and suggest_purchase_qty is not null </when>
                    <when test="suggestPurchaseQty_val != null"> and suggest_purchase_qty ${suggestPurchaseQty_op} #{suggestPurchaseQty_val} </when>
                </choose>
            </if>
            <if test="maxMonthlyReplenishQty_op != null">
                <choose>
                    <when test="maxMonthlyReplenishQty_op == 'between' and maxMonthlyReplenishQty_val != null and maxMonthlyReplenishQty_val2 != null">
                        and max_monthly_replenish_qty between #{maxMonthlyReplenishQty_val} and #{maxMonthlyReplenishQty_val2}
                    </when>
                    <when test="maxMonthlyReplenishQty_op == 'isNull'"> and max_monthly_replenish_qty is null </when>
                    <when test="maxMonthlyReplenishQty_op == 'isNotNull'"> and max_monthly_replenish_qty is not null </when>
                    <when test="maxMonthlyReplenishQty_val != null"> and max_monthly_replenish_qty ${maxMonthlyReplenishQty_op} #{maxMonthlyReplenishQty_val} </when>
                </choose>
            </if>
            <if test="profitRate30d_op != null">
                <choose>
                    <when test="profitRate30d_op == 'between' and profitRate30d_val != null and profitRate30d_val2 != null">
                        and profit_rate_30d between #{profitRate30d_val} and #{profitRate30d_val2}
                    </when>
                    <when test="profitRate30d_op == 'isNull'"> and profit_rate_30d is null </when>
                    <when test="profitRate30d_op == 'isNotNull'"> and profit_rate_30d is not null </when>
                    <when test="profitRate30d_val != null"> and profit_rate_30d ${profitRate30d_op} #{profitRate30d_val} </when>
                </choose>
            </if>
            <if test="returnRate_op != null">
                <choose>
                    <when test="returnRate_op == 'between' and returnRate_val != null and returnRate_val2 != null">
                        and return_rate between #{returnRate_val} and #{returnRate_val2}
                    </when>
                    <when test="returnRate_op == 'isNull'"> and return_rate is null </when>
                    <when test="returnRate_op == 'isNotNull'"> and return_rate is not null </when>
                    <when test="returnRate_val != null"> and return_rate ${returnRate_op} #{returnRate_val} </when>
                </choose>
            </if>
            <if test="overseasSellableSalesRatio_op != null">
                <choose>
                    <when test="overseasSellableSalesRatio_op == 'between' and overseasSellableSalesRatio_val != null and overseasSellableSalesRatio_val2 != null">
                        and overseas_sellable_sales_ratio between #{overseasSellableSalesRatio_val} and #{overseasSellableSalesRatio_val2}
                    </when>
                    <when test="overseasSellableSalesRatio_op == 'isNull'"> and overseas_sellable_sales_ratio is null </when>
                    <when test="overseasSellableSalesRatio_op == 'isNotNull'"> and overseas_sellable_sales_ratio is not null </when>
                    <when test="overseasSellableSalesRatio_val != null"> and overseas_sellable_sales_ratio ${overseasSellableSalesRatio_op} #{overseasSellableSalesRatio_val} </when>
                </choose>
            </if>
            <if test="overseasTotalSalesRatio_op != null">
                <choose>
                    <when test="overseasTotalSalesRatio_op == 'between' and overseasTotalSalesRatio_val != null and overseasTotalSalesRatio_val2 != null">
                        and overseas_total_sales_ratio between #{overseasTotalSalesRatio_val} and #{overseasTotalSalesRatio_val2}
                    </when>
                    <when test="overseasTotalSalesRatio_op == 'isNull'"> and overseas_total_sales_ratio is null </when>
                    <when test="overseasTotalSalesRatio_op == 'isNotNull'"> and overseas_total_sales_ratio is not null </when>
                    <when test="overseasTotalSalesRatio_val != null"> and overseas_total_sales_ratio ${overseasTotalSalesRatio_op} #{overseasTotalSalesRatio_val} </when>
                </choose>
            </if>
            <if test="totalInventorySalesRatio_op != null">
                <choose>
                    <when test="totalInventorySalesRatio_op == 'between' and totalInventorySalesRatio_val != null and totalInventorySalesRatio_val2 != null">
                        and total_inventory_sales_ratio between #{totalInventorySalesRatio_val} and #{totalInventorySalesRatio_val2}
                    </when>
                    <when test="totalInventorySalesRatio_op == 'isNull'"> and total_inventory_sales_ratio is null </when>
                    <when test="totalInventorySalesRatio_op == 'isNotNull'"> and total_inventory_sales_ratio is not null </when>
                    <when test="totalInventorySalesRatio_val != null"> and total_inventory_sales_ratio ${totalInventorySalesRatio_op} #{totalInventorySalesRatio_val} </when>
                </choose>
            </if>
        </where>
        <include refid="sortClause"/>
    </select>

    <sql id="sortClause">
        <choose>
            <when test="sortField == 'site'">order by site</when>
            <when test="sortField == 'sku'">order by sku</when>
            <when test="sortField == 'skuLevel'">order by sku_level</when>
            <when test="sortField == 'profitRate30d'">order by profit_rate_30d</when>
            <when test="sortField == 'returnRate'">order by return_rate</when>
            <when test="sortField == 'overseasOnway'">order by overseas_onway</when>
            <when test="sortField == 'overseasSellable'">order by overseas_sellable</when>
            <when test="sortField == 'overseasTotal'">order by overseas_total</when>
            <when test="sortField == 'purchasePendingDelivery'">order by purchase_pending_delivery</when>
            <when test="sortField == 'localSellable'">order by local_sellable</when>
            <when test="sortField == 'localOnway'">order by local_onway</when>
            <when test="sortField == 'purchasePlanQty'">order by purchase_plan_qty</when>
            <when test="sortField == 'lockedQty'">order by locked_qty</when>
            <when test="sortField == 'totalInventory'">order by total_inventory</when>
            <when test="sortField == 'sales7d'">order by sales_7d</when>
            <when test="sortField == 'sales30d'">order by sales_30d</when>
            <when test="sortField == 'sales90d'">order by sales_90d</when>
            <when test="sortField == 'maxMonthlySales'">order by max_monthly_sales</when>
            <when test="sortField == 'overseasSellableSalesRatio'">order by overseas_sellable_sales_ratio</when>
            <when test="sortField == 'overseasTotalSalesRatio'">order by overseas_total_sales_ratio</when>
            <when test="sortField == 'totalInventorySalesRatio'">order by total_inventory_sales_ratio</when>
            <when test="sortField == 'outboundDays'">order by outbound_days</when>
            <when test="sortField == 'purchaseCycleDays'">order by purchase_cycle_days</when>
            <when test="sortField == 'suggestPurchaseQty'">order by suggest_purchase_qty</when>
            <when test="sortField == 'maxMonthlyReplenishQty'">order by max_monthly_replenish_qty</when>
            <otherwise>order by site asc, sku asc</otherwise>
        </choose>
        <if test="sortField != null and sortField != ''">
            <choose>
                <when test="sortOrder == 'ascending'">asc</when>
                <otherwise>desc</otherwise>
            </choose>
        </if>
    </sql>

    <!-- ==================================================================== -->
    <!-- 基础查询：保留向后兼容                                               -->
    <!-- ==================================================================== -->
    <select id="selectEbayReplenishmentSnapshotList" parameterType="com.ruoyi.system.domain.operation.EbayReplenishmentSnapshot" resultMap="EbayReplenishmentSnapshotResult">
        select <include refid="columns"/> <include refid="fromTable"/>
        <where>
            and current_flag = 1
            <if test="site != null and site != ''">and site = #{site}</if>
            <if test="sku != null and sku != ''">and sku like concat('%', #{sku}, '%')</if>
            <if test="productName != null and productName != ''">and product_name like concat('%', #{productName}, '%')</if>
            <if test="skuLevel != null and skuLevel != ''">and sku_level = #{skuLevel}</if>
            <if test="ownerName != null and ownerName != ''">and owner_name like concat('%', #{ownerName}, '%')</if>
        </where>
        <include refid="sortClause"/>
    </select>

    <!-- distinct 候选值：SQL 级去重，不走内存 -->
    <select id="selectDistinctValues" parameterType="map" resultType="string">
        select distinct t.`${column}`
        from ebay_replenishment_snapshot t
        where t.current_flag = 1
          and t.`${column}` is not null and t.`${column}` != ''
        <if test="keyword != null and keyword != ''">
            and t.`${column}` like concat('%', #{keyword}, '%')
        </if>
        order by t.`${column}`
        limit 50
    </select>

    <!-- ==================================================================== -->
    <!-- 写入                                                              -->
    <!-- ==================================================================== -->
    <insert id="insertSnapshot" parameterType="com.ruoyi.system.domain.operation.EbayReplenishmentSnapshot">
        INSERT INTO ebay_replenishment_snapshot (
            site, sku, product_name, sku_level, profit_rate_30d, return_rate,
            overseas_onway, overseas_sellable, overseas_total, purchase_pending_delivery,
            local_sellable, local_onway, purchase_plan_qty, locked_qty, total_inventory,
            sales_7d, sales_30d, sales_90d, max_monthly_sales,
            overseas_sellable_sales_ratio, overseas_total_sales_ratio, total_inventory_sales_ratio,
            last_local_outbound_time, outbound_days, purchase_cycle_days, suggest_purchase_qty,
            max_monthly_replenish_qty, owner_name, calc_time
        ) VALUES (
            #{site}, #{sku}, #{productName}, #{skuLevel}, #{profitRate30d}, #{returnRate},
            #{overseasOnway}, #{overseasSellable}, #{overseasTotal}, #{purchasePendingDelivery},
            #{localSellable}, #{localOnway}, #{purchasePlanQty}, #{lockedQty}, #{totalInventory},
            #{sales7d}, #{sales30d}, #{sales90d}, #{maxMonthlySales},
            #{overseasSellableSalesRatio}, #{overseasTotalSalesRatio}, #{totalInventorySalesRatio},
            #{lastLocalOutboundTime}, #{outboundDays}, #{purchaseCycleDays}, #{suggestPurchaseQty},
            #{maxMonthlyReplenishQty}, #{ownerName}, NOW()
        )
    </insert>

    <insert id="batchInsertSnapshots">
        INSERT INTO ebay_replenishment_snapshot (
            site, sku, product_name, sku_level, profit_rate_30d, return_rate,
            overseas_onway, overseas_sellable, overseas_total, purchase_pending_delivery,
            local_sellable, local_onway, purchase_plan_qty, locked_qty, total_inventory,
            sales_7d, sales_30d, sales_90d, max_monthly_sales,
            overseas_sellable_sales_ratio, overseas_total_sales_ratio, total_inventory_sales_ratio,
            last_local_outbound_time, outbound_days, purchase_cycle_days, suggest_purchase_qty,
            max_monthly_replenish_qty, owner_name, calc_time, batch_no, current_flag
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.site}, #{item.sku}, #{item.productName}, #{item.skuLevel},
            #{item.profitRate30d}, #{item.returnRate},
            #{item.overseasOnway}, #{item.overseasSellable}, #{item.overseasTotal},
            #{item.purchasePendingDelivery},
            #{item.localSellable}, #{item.localOnway}, #{item.purchasePlanQty},
            #{item.lockedQty}, #{item.totalInventory},
            #{item.sales7d}, #{item.sales30d}, #{item.sales90d}, #{item.maxMonthlySales},
            #{item.overseasSellableSalesRatio}, #{item.overseasTotalSalesRatio},
            #{item.totalInventorySalesRatio},
            #{item.lastLocalOutboundTime}, #{item.outboundDays}, #{item.purchaseCycleDays},
            #{item.suggestPurchaseQty},
            #{item.maxMonthlyReplenishQty}, #{item.ownerName}, NOW(), #{batchNo}, 0
        )
        </foreach>
    </insert>

    <delete id="deleteAll">
        DELETE FROM ebay_replenishment_snapshot
    </delete>

    <update id="activateBatch">
        UPDATE ebay_replenishment_snapshot
        SET current_flag = CASE WHEN batch_no = #{batchNo} THEN 1 ELSE 0 END
    </update>

    <delete id="deleteNonCurrent">
        DELETE FROM ebay_replenishment_snapshot
        WHERE current_flag = 0
    </delete>

</mapper>
